{% extends 'base.html' %}
<!-- {% load staticfiles %} -->

{% block title %}广丰惠州库存管理系统{%endblock%}
{% block head %}
<link href="{% static 'items_out.css' %}" rel="stylesheet">
{% endblock %}


{% block nav_out_active %}active{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="output_box">
    <form action="{% url 'add_items_to_outtable' %}" method="post">
        {% csrf_token %}
        物品ID：
        <input type="number" name="item_id" id="">
        物品：
        <input type="text" name="item_name" readonly size="8">
        规格：
        <input type="text" name="item_model" readonly size="6">
        单位：
        <input type="text" name="item_unit" readonly size="6">
        <br>
        数量：
        <input type="number" name="quantity" id="" size="3" value="0">
        出库日期：
        <input type="date" name="out_date" id="">
        出库员：
        <input type="text" name="operator" id="" size="8" value="{{user.last_name}}{{user.first_name}}" readonly>
        领用人：
        <input type="text" name="item_user" id="" size="8">
        <input type="submit" value="提交出库">
    </form>
</div>
<div class="delete_out_record">
    <form action="{% url 'delete_out_record' %}" method="post">
        {% csrf_token %}
        出库单号：
        <input type="number" name="record_num" size="3">
        <input type="submit" value="删除出库">
    </form>
</div>
{% endif %}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        出库明细
    </div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th>序号</th>
            <th>时间</th>
            <th>物品</th>
            <th>规格</th>
            <th>单位</th>
            <th>数量</th>
            <th>出库员</th>
            <th>领用人</th>
            <th>出库单号</th>
        </tr>
        {% for item in items %}
        {% if not item.is_deleted %}
        <tr>
            <!-- 这里要改成普通的序号，不用物品的id -->
            <td>{{item.id}}</td>
            <td>{{item.out_date}}</td>
            <td>{{item.item.name}}</td>
            <td>{{item.item.item_model}}</td>
            <td>{{item.item.unit}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.operator}}</td>
            <td>{{item.item_user}}</td>
            <td>{{item.id}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}